// Colors
$white: #FFFFFF;
$black: #000000;
$black75: rgba(0,0,0,75);

$greydarker: rgb(118,118,118);
$greydark: rgb(194,194,194);
$greylight: rgb(229,229,229);
$greylight: rgb(240,240,240);

$pink: rgb(216,27,96);
$yellow: rgb(253,216,53);
$mint: rgb(0,215,159);
$blue: rgb(57,73,171);
$violet: rgb(94,53,177);

$pinklight: rgb(233,30,99);
$yellowlight: rgb(255,235,59);
$mintlight: rgb(29,233,182);
$bluelight: rgb(63,81,181);
$violetlight: rgb(103,58,183);


