// Colors
$white: #FFFFFF;
$black: #000000;
$black75: rgba(0,0,0,75);
$greydarker: rgb(118,118,118);
$greydark: rgb(194,194,194);
$greylight: rgb(229,229,229);
$greylight: rgb(240,240,240);
$pink: rgb(216,27,96);

