// Colors
$white: #FFFFFF;
$black: #000000;
$black75: rgba(0,0,0,75);

$greydarker: rgb(118,118,118); // Grau 76
$greydark: rgb(194,194,194);  // Grau C2
$greylight: rgb(229,229,229); // Grau E5
$greylighter: rgb(240,240,240); /// Grau F0

.text-greydarker {color: $greydarker !important;}
.text-greydark {color: $greydark !important;}
.text-greylight {color: $greylight !important;}
.text-greylighter {color: $greylighter !important;}

.bg-greydarker {background-color: $greydarker !important;}
.bg-greydark {background-color: $greydark !important;}
.bg-greylight {background-color: $greylight !important;}
.bg-greylighter {background-color: $greylighter !important;}

$pink: rgb(216,27,96);
$yellow: rgb(253,216,53);
$mint: rgb(0,215,159);
$blue: rgb(57,73,171);
$violet: rgb(94,53,177);

$pinklight: rgb(233,30,99);
$yellowlight: rgb(255,235,59);
$mintlight: rgb(29,233,182);
$bluelight: rgb(63,81,181);
$violetlight: rgb(103,58,183);

.--pink {background-color: $pink !important;}
.--yellow {background-color: $yellow !important;}
.--mint {background-color: $mint !important;}
.--blue {background-color: $blue !important;}
.--violet {background-color: $violet !important;}
