// Fonts importieren
@font-face {
  font-family: "Adelle Regular";
  src: url('/fonts/Adelle_Reg.otf');
  font-weight: normal;
}

@font-face {
  font-family: "Adelle Bold";
  src: url('/fonts/Adelle_Bold.otf');
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova Light";
  src: url('/fonts/ProximaNova-Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova Regular";
  src: url('/fonts/ProximaNova-Reg.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova Bold";
  src: url('/fonts/ProximaNova-Bold.ttf');
  font-weight: normal;
}