@import '~bootstrap/scss/bootstrap';
@import "colors";
@import "fonts";

// Bootstrap Spaltenabstand 체berschreiben
$grid-gutter-width: 16px;

// HG-Farbe von Body 채ndern
.vsc-initialized {
  background-color: white;
}

// Fonts definieren
h1{
  font-size: 56px;
  line-height: 80px;
  color: $black;
  font-family: "Adelle Bold";
} // mobile: 32/40px

h2{
  font-size: 32px;
  line-height: 40px;
  color: $black;
  font-family: "Adelle Bold";
} // mobile: 24/32px

h3{
  font-size: 20px;
  line-height: 32px;
  color: $black;
  font-family: "Adelle Bold";
} // mobile: 20/32px

.font-festival {
  font-size: 144px;
  line-height: 144px;
  color: $black;
  font-family: "Adelle Bold";
} // mobile: 48/40px

.font-lead {
  font-size: 20px;
  line-height: 32px;
  color: $black;
  font-family: "Adelle Regular";
}

.font-copy {
  font-size: 20px;
  line-height: 32px;
  color: $black;
  font-family: "ProximaNova Regular";
}

.font-footer, font-labels {
  font-size: 17px;
  line-height: 28px;
  color: $black;
  font-family: "ProximaNova Regular";
}

.font-button, font-tab, font-header {
  font-size: 17px;
  line-height: 28px;
  color: $black;
  font-family: "ProximaNova Bold";
}

.font-breadcrumb, font-zusatzinfo {
  font-size: 17px;
  line-height: 28px;
  color: $black;
  font-family: "ProximaNova Regular";
}

p {
  font-size: 30px;
  line-height: 80px;
  color: $black;
  font-family: "Adelle Bold";
}

// Elemente definieren
html {
  font-family: "Adelle";
}
.nav {
  background-color: white;
  font-family: "Adelle";
  font-size: 18px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $greylight;
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

}

.nav__btnticketkaufen {
  font-family: "ProximaNova Bold";
  font-size: 17px;
  color: $greydark;
  padding: 15px 25px 15px 25px;
  border-left: 1px solid $greylight;
    & img {
      margin-right: 5px;
    }
}

.nav__btnmenu {
  font-family: "ProximaNova Bold";
  font-size: 17px;
  color: $black;
  padding: 25px 89px 25px 25px;
  & img {
    margin-right: 5px;
  }
  &:hover {
    color: $greydarker;
  }
}


.heading__titel {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.heading__lead {
  margin: 0 auto 0 auto;
  width: 45%;
  text-align: center;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__eventslistfixmargin {
  padding-bottom: 60px;
}

.filter__svgmusic {
  margin: 5px 15px 5px 5px;
  width: 25px;
  height: 25px;
}

.filter__box {
  background-color: lightgrey;
  padding: 5px 8px;
  border-radius: 10px;
  margin: 0 13px;
  color: white;
}

.filter__number {
  vertical-align: super;
  font-weight: bolder;
  font-size: 70%;
}

.filter__genres {
  font-weight: bold;
    text-align: center;
  padding-left: 7px;
}

.filter__mehrgenres {
  font-family: "ProximaNova Bold";
  border-bottom: 1px solid black;
  padding: 5px 0;
  margin: 0 35px;
}

.action__boxblack {
  font-weight: bold;
  border: 2px solid black;
  padding: 8px 25px;
  margin: 30px;
  background-color: $black;
  color: $white;
  display: inline-table;
}

.action__boxwhite {
  font-weight: bold;
  border: 2px solid black;
  padding: 8px 25px;
  margin: 30px;
  background-color: $white;
  color: $black;
}

.action__boxtransparent {
  font-weight: bold;
  border: 2px solid black;
  padding: 8px 25px;
  margin: 30px;
  background-color: transparent;
  color: $black;
}

.bigteaser {
  margin-top: 60px;
}

.bigteaser__img {
  width: 100%
}

.magazin-title {
  margin: 80px 0;
}

.magazin__container {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
}

.magazin__colums {
  column-count: 3;
  column-gap: 90px;
}

.magazin__article {
  width: 100%;
  margin-bottom: 70px;
  justify-content: space-between;
  display: block;
}

.footer {
  height: 64px;
  padding: 0px 120px;
  border-top: 1px solid $greydark;
  border-bottom: 1px solid $greydark;
  font-family: "ProximaNova Regular";
  font-size: 17px;
  color: $greydarker;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer__boxleft {
  text-align: left;
  display: flex;
}

.footer__itemleft {
  padding-left: 40px;
  font-family: "ProximaNova Regular";
  font-size: 17px;
  color: $greydarker;
}

.footer__boxcenter {
  text-align: center;
  display: flex;
}

.footer__icons {
  margin: 0 7px;
}

.footer__boxright {
  text-align: right;
  display: flex;
}

.footer__itemright {
  margin-right: 15px;
  margin-left: 135px;
  font-family: "ProximaNova Regular";
  font-size: 17px;
  color: $greydarker;
}

.events__container {
  background-color: $greylighter;
}

.events__barcontainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.events__bar {
  font-family: "ProximaNova Regular";
  background-color: $greylighter;
  display: flex;
  width: 1194px;
  justify-content: space-between;
  align-items: center;
  color: $greydarker;
  padding: 50px 0;
}

.events__boxside {
  margin-right: 10px;
}

.events__displayoption {
  display: flex;
  align-items: center;
}

.events__rowscontainer {
  font-family: "ProximaNova Regular";
  background-color: $greylighter;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  &Title{
    justify-content: flex-start;
    margin-left: 203px;
    margin-bottom: 50px;
  }
  lead {
    width: 45%;
    margin: 0 auto;
  }
}

.eventslist__row {
  display: flex;
  height: 104px;
  width: 1194px;
}

.eventslist__img {
  height: 104px;
}

.eventslist__icon {
  display: flex;
  height: 104px;
  width: 104px;
  align-items: center;
  justify-content: center;
}

.bgmint {
      background-color: $mint;
}

.bgpink {
      background-color: $pink;
}

.eventslist__name {
  height: 104px;
  width: 374px;
  border-right: 1px solid $greylighter;
  background-color: $white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: "Adelle Bold";
  font-size: 25px;
}

.eventslist__location {
  height: 104px;
  width: 184px;
  border-right: 1px solid $greylighter;
  background-color: $white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: "ProximaNova Regular";
  font-size: 15px;
  color: $greydarker;
}

.eventslist__date {
  height: 104px;
  width: 210px;
  border-right: 1px solid $greylighter;
  background-color: $white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: "ProximaNova Regular";
  font-size: 15px;
  color: $greydarker;
}

.eventslist__notice {
  background-color: white;
  width: 150px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "ProximaNova Bold";
  font-size: 15px;
  color: $black;
  indie {
    border-right: 4px solid $mint;
  }
  hiphop {
    border-right: 4px solid $pink;
  }
    &img {
      margin-right: 5px;
    }
}


.singleevent__areagreen {
  width: 100%;
  height: 420px;
  background-color: $mint;
  margin: 0 auto;
}

.singleevent__headingcontainer {
  width: 100%;
}

.singleevent__imagefullscreen {
  width: 100%;
  height: 50%;
}

.singleevent__headingicon {
  position: absolute;
  margin-top: 120px;
  width: 100%;
  text-align: center;
}

.singleevent__headingtext {
  position: absolute;
  margin-top: 1190px;
  margin-left: 130px;
  font-family: "Adelle Bold";
  color: $white;
}

.singleevent__eventnewscontainer {
  height: 264px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
  background-color: $mintlight;
  color: $white;
}

.singleevent__eventnewstitle {
  font-size: 60px;
  line-height: 93px;
  font-family: "ProximaNova Bold";
}

.singleevent__eventnewslead {
  font-size: 32px;
  line-heigth: 43px;
  font-family: "ProximaNova Bold";
}

.singleevent__descriptionContainer {
  display: flex;
}

.singleevent__descriptionText {
  padding-left: 0;
  margin: 40px 0 50px 0;
}

.singleevent__description {
  margin-top: 100px;
  .positionimage {
    margin-left: -81px;
    margin-top: 62px;
  }
}

.singleevent__descriptionLocation {
  margin-right: 40px;
}

.singleevent__descriptioncontainer {
  margin-left: 300px;
}

.singleevent__descriptionLocCalContainer {
  display: flex;
  margin-top: 20px;
}

.nomargin {
  margin: 0;
}

.nopadding {
  padding: 0;
}

.singleevent__descriptionMid {
  display: flex;
  margin-bottom: 140px;
}

.singleevent__descriptionBreadcrumb {
  margin-top: 45px;
}

/*  carousel custom styles */
.carouselExampleIndicators {
  margin-bottom: 250px;
}

.carousel-indicators li {
  background-color: $greylight;
  width: 24px;
  height: 4px;
  margin: 0 8px;
}

.carousel-indicators {
  bottom: -52px;
}

.carousel-indicators .active {
  background-color: $black;
}
.singleevent__descriptionBottom {
  >p  {
    margin-top:40px;
    margin-bottom: 75px;
  }
}

.tabs__btn {
  font-family: "ProximaNova Bold";
  font-size: 20px;
  padding: 15px 32px;
  //clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 90%);
  background-color: $white;
  border: 2px solid $black;
  color: $black;
  width: fit-content;
  height: 48px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.tabs__btn:hover, .tabs__btn--active{
  clip-path: polygon(0 0, 100% 0, 100% 90%, 45% 90%, 50% 100%, 55% 90%, 0% 90%);
  background-color: $black;
  color: $white;
  filter:
          drop-shadow( 0px  2px 0 black)
          drop-shadow( 0px  2px 0 black)
          drop-shadow( 2px  0px 0 black)
          drop-shadow( 2px  0px 0 black);
  -webkit-filter:
          drop-shadow( 0px  2px 0 black)
          drop-shadow( 0px  2px 0 black)
          drop-shadow( 2px  0px 0 black)
          drop-shadow( 2px  0px 0 black);
}

.tabs__imagebox {
  margin-top: 60px;
  margin-bottom: 100px;
  height: auto;
  transform:translateX(-110px);
}

.singleevent__video {
  background-image: url('/images/Fuji-Rock-Festival-Promo-video-HD_thumbnail.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 392px; //448px w채re besser f체r die desktopbrowserbreite von 1440px, aber 392px steht im styleguide
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleevent_videoimage {
  background-image: url('/icons/detail_video_play.svg');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.singleevent__akkordeon {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 5px solid black;
  margin-bottom: 65px;

  .title {
    font-family: "Adelle Bold";
    font-size: 32px;
    color: $black;
    margin-bottom: 8px;
  }

  .status {
    font-family: "ProximaNova Bold";
    font-size: 17px;
    color: $black;
  }
}

.map {
  width: 572px;
  height: 400px;
  background-color: pink;
  margin-bottom: 100px;
}

// promotion Ticket -> Section Header
.promote__banner {
  height: 376px;
  background-color: $mint;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promote__container{
  text-align: center;

  .promote_img {
    background-image: url('/icons/music_indie.svg');
    background-repeat: no-repeat;
    background-size: 300px 250px;
    position: absolute;
    opacity: 0.5;
    width: 300px;
    height: 250px;
    transform: translate(182px, -145px);
  }

  .title {
    font-family: "Adelle Bold";
    font-size: 55px;
    color: $white;
  }

  .promote__buttonBuy {
    font-family: "ProximaNova Bold";
    font-size: 16px;
    padding: 11px 20px;
    border: 2px solid $white;
    opacity: 1;
    width: 200px;
    margin: auto;
    color: $white;
    margin-top: 30px;
  }
}

// promotion Ticket -> Section Bottom
.promote__bottom {
  .content {
    background-color: $mintlight;
    display: flex;
    justify-content: center;
  }
  .promote__button {
    width: 313px;
    height:129px;
    display: flex;
    align-items: center;
    &right {
      width: 313px;
      height:129px;
      display: flex;
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
  }
  .arrowleft {
    margin-right: 75px;
  }
  .arrowright {
    margin-left: 75px;
  }
  .text {
    font-family: "ProximaNova Bold";
    font-size: 16px;
    color: $white;
  }
}

.eventslist__buySpacing {
  height: 120px;
  margin-top: 90px;
}

.events__rowscontainerTitle {
  margin-left: 112px;
}

.eventslist__tickets {
  width: 315px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  background-color: $white;
  border-right: 1px solid $greylighter;
  .container {
    color: $mint;
    display: block;
    padding-left: 15px;
  }
  .text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 6px;
  }
  .textRegGreen {
    font-family: "ProximaNova Regular";
    width: auto;
    margin-right: 5px;
  }
  .textBoldGreen {
    font-family: "ProximaNova Bold";
    width: auto;
    margin-right: 5px;
  }
  .textRegGrey {
    font-family: "ProximaNova Regular";
    width: auto;
    color: $greydark;
  }
  .eventslist__ticketsSymbol {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .QuadratF {
    width: 14px;
    height: 14px;
    background-color: $mint;
  }

  .QuadratQ {
    width: 14px;
    height: 14px;
    background-color: $greydark;
  }
}

.eventslist__buy {
  width: 229px;
  background-color: $white;
  display: flex;
  justify-content: center;
}

.greenBorderRight5px {
  border-right: 5px solid $mint;
}